@model SangitMIS.Models.UserRegister

@{
    Layout = null;
}

<meta name="viewport" content="width=device-width" />
<title>Sangit Nepal</title>
<link rel="icon" href="~/assets/images/gallery/music.png" ">

<link href="~/assets/Validation/Validate.css" rel="stylesheet" />

<script src="~/assets/Validation/jquery.validate.min.js"></script>
<script src="~/assets/Validation/jquery.validate.unobtrusive.min.js"></script>

<link rel="stylesheet" href="..//assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="..//assets/font-awesome/4.5.0/css/font-awesome.min.css" />

<link rel="stylesheet" href="..//assets/css/fonts.googleapis.com.css" />

<link rel="stylesheet" href="..//assets/css/ace.min.css" />

<link rel="stylesheet" href="..//assets/css/ace-rtl.min.css" />


@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{

    if (ViewBag.Message != null)
    {
        <div class="alert alert-success">
            <strong>Success!!</strong>@ViewBag.Message
        </div>
    }

}
else
{
    <div class="login-layout">
        <div class="main-container">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-top:50px">
                        <div class="login-container">
                            <div class="center">
                                <h1>
                                    <i class="ace-icon fa fa-music"></i>
                                    <span class="red">SangitNepal</span>
                                </h1>
                            </div>

                            <div class="space-6"></div>
                            <div class="position-relative">
                                <div id="signup-box" class="login-box visible toolbar clearfix signup-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header green lighter bigger">
                                                <i class="ace-icon fa fa-users blue"></i>
                                                New User Registration
                                            </h4>

                                            <div class="space-6"></div>
                                            <p> Enter your details to begin: </p>

                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()
                                                <form>
                                                    <fieldset>
                                                        <label class="block clearfix">
                                                            <span class="block input-icon input-icon-right">
                                                                <i class="ace-icon fa fa-envelope"></i>
                                                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Email" } })
                                                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                                                @Html.ValidationMessage("EmailExist", "", new { @class = "text-danger" })
                                                            </span>
                                                        </label>

                                                        <label class="block clearfix">
                                                            <span class="block input-icon input-icon-right">
                                                                <i class="ace-icon fa fa-user"></i>
                                                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Username" } })
                                                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                                            </span>
                                                        </label>

                                                        <label class="block clearfix">
                                                            <span class="block input-icon input-icon-right">
                                                                <i class="ace-icon fa fa-lock"></i>
                                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Password" } })
                                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                                            </span>
                                                        </label>

                                                        <label class="block clearfix">
                                                            <span class="block input-icon input-icon-right">
                                                                <i class="ace-icon fa fa-retweet"></i>
                                                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeHolder = "Repeat Password" } })
                                                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                                            </span>
                                                        </label>

                                                        <label class="block">
                                                            <input type="checkbox" class="ace" />
                                                            <span class="lbl">
                                                                I accept the
                                                                <a href="#">User Agreement</a>
                                                            </span>
                                                        </label>

                                                        <div class="space-24"></div>

                                                        <div class="clearfix">
                                                            <button type="reset" class="width-30 pull-left btn btn-sm">
                                                                <i class="ace-icon fa fa-refresh"></i>
                                                                <span class="bigger-110">Reset</span>
                                                            </button>

                                                            <button type="submit" class="width-65 pull-right btn btn-sm btn-success">
                                                                <span class="bigger-110">Register</span>

                                                                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                            </button>
                                                        </div>
                                                    </fieldset>
                                                </form>

                                                if (ViewBag.Message != null)
                                                {
                                                    <div class="alert alert-danger">
                                                        <strong>Error!!</strong> @ViewBag.Message
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <div class="toolbar center">
                                            <a href="@Url.Action("Login", "Account")">
                                                <i class="ace-icon fa fa-sign-in"></i>
                                                <strong style="font-weight:bolder;font-size:1.3em">Login</strong>
                                            </a>
                                        </div>
                                    </div><!-- /.widget-body -->
                                </div><!-- /.signup-box -->
                            </div><!-- /.position-relative -->

                            <div class="navbar-fixed-top align-right">
                                <br />
                                &nbsp;
                                <a id="btn-login-dark" href="#">Dark</a>
                                &nbsp;
                                <span class="blue">/</span>
                                &nbsp;
                                <a id="btn-login-blur" href="#">Blur</a>
                                &nbsp;
                                <span class="blue">/</span>
                                &nbsp;
                                <a id="btn-login-light" href="#">Light</a>
                                &nbsp; &nbsp; &nbsp;
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        @if (ViewBag.status != null && Convert.ToBoolean(ViewBag.status))
        {
            if (ViewBag.Message != null)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong>@ViewBag.Message
                </div>
            }
        }
        <script src="..//assets/js/jquery-2.1.4.min.js"></script>


        <!--[if IE]>
        <script src="assets/js/jquery-1.11.3.min.js"></script>
        <![endif]-->
        <script type="text/javascript">
            if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
        </script>


        <script type="text/javascript">
            jQuery(function ($) {
                $(document).on('click', '.toolbar a[data-target]', function (e) {
                    e.preventDefault();
                    var target = $(this).data('target');
                    $('.widget-box.visible').removeClass('visible');//hide others
                    $(target).addClass('visible');//show target
                });
            });



            //you don't need this, just used for changing background
            jQuery(function ($) {
                $('#btn-login-dark').on('click', function (e) {
                    $('body').attr('class', 'login-layout');
                    $('#id-text2').attr('class', 'white');
                    $('#id-company-text').attr('class', 'blue');

                    e.preventDefault();
                });
                $('#btn-login-light').on('click', function (e) {
                    $('body').attr('class', 'login-layout light-login');
                    $('#id-text2').attr('class', 'grey');
                    $('#id-company-text').attr('class', 'blue');

                    e.preventDefault();
                });
                $('#btn-login-blur').on('click', function (e) {
                    $('body').attr('class', 'login-layout blur-login');
                    $('#id-text2').attr('class', 'white');
                    $('#id-company-text').attr('class', 'light-blue');

                    e.preventDefault();
                });

            });

        </script>


    </div>
}







